@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Sora:wght@500;600;700;800&display=swap');

:root {
	--font-ui: 'Manrope', sans-serif;
	--font-display: 'Sora', sans-serif;
}

body {
	font-family: var(--font-ui);
}

.font-brand-display {
	font-family: var(--font-display);
}

.font-brand-ui {
	font-family: var(--font-ui);
}
